- provide(:title, "Policy")

.p-2
  h1.mb-5 Clogramデータに関するポリシー
  p.mb-5
    | このポリシーは、弊社が提供するFacebook、Instagram、Messengerおよびその他の製品や機能,
    |(以下、Facebook製品または弊社製品)をサポートするために、弊社が処理する情報について説明しています。
    |その他のツールや詳細な情報については、Facebookの設定およびInstagramの設定をご覧ください。

  h2 I.弊社が取得する情報の種類
  p.mb-5
    | 利用者が提供する情報とコンテンツ 利用者が弊社製品を利用する際(アカウント登録、
    |コンテンツの作成やシェア、メッセージの送受信や他の利用者とのコミュニケーションなど)、
    |Facebookは、利用者が提供するコンテンツ、コミュニケーション、その他の情報を取得します。
    |当該情報には、例えば写真の位置情報やファイル作成日など、利用者が提供するコンテンツに含ま
    |れる情報または関連する情報(メタデータなど)が含まれます。さらに、利用者がFacebookの提供する
    |機能を通じて見るものを含みます。例えば、Facebookの提供するカメラなどにおいて、情報を取得する
    |ことにより、利用者が好むと思われるマスクやフィルターの提案や、カメラフォーマットの使用ヒント
    |などを提供できるようにすることもあります。弊社のシステムでは、利用者が提供するコンテンツや
    |コミュニケーションを自動的に処理し、以下の目的で背景や内容を分析します。
    |共有する内容が表示される範囲の管理方法について詳しくは、こちらをご覧ください。

  p.mb-5
    | ネットワークやつながり 弊社の取得情報には、利用者がつながっている人、ページ、アカウント、
    |ハッシュタグおよびグループに加え、弊社の全製品にわたる相手との交流方法(例えば最も頻繁にコミュ
    |ニケーションをとる人や参加しているグループなど)に関するものがあります。利用者が連絡先情報をデバ
    |イスからアップロード、同期、インポートすることを選択する場合(アドレス帳、通話記録、SMSの記録履歴
    |など)、Facebookはこのような情報を取得して、知り合い候補を見つけたり、以下に掲げる他の目的に利用
    |する場合があります。

  p.mb-5
    | 弊社製品の利用 Facebookは、弊社製品の利用方法に関する情報を取得します。例えば、見たり参加した
    |りするコンテンツのタイプ、利用機能、行動、交流する人やアカウント、アクティビティの時間、頻度、
    |間隔といった情報が含まれます。例えばFacebookでは、弊社製品が利用されている時間や最後の利用時間、
    |利用者がFacebook製品で見た投稿、動画その他のコンテンツなどを記録しています。また、カメラなどの機能
    |の利用方法に関する情報も取得しています。

  p.mb-5
    | Facebook製品での取引に関する情報 利用者が購入やその他の金銭的な取引(ゲームでの購入や寄付など)の
    |ためにFacebook製品を利用する場合、Facebookは購入または取引に関する情報を取得します。ここで取得される
    |情報には、クレジットカード、デビットカードの番号その他のカード情報、その他のアカウント情報や認証情報
    |請求や配送、連絡先などの詳細が含まれます。

  p
    | 利用者に関する他者の行動や、利用者に関して他者が提供する情報 Facebookは、利用者以外の人が弊社製品を
    |利用する際に提供するコンテンツ、コミュニケーション、情報を受信し、分析します。他者があなたの写真を共有
    |したり、あなたの写真にコメントしたりする場合、あなたにメッセージを送信する場合、あなたの連絡先情報をア
    |ップロード、同期、インポートする場合などには、Facebookが受信、分析する情報に、あなたに関する情報も含ま
    |れる可能性があります。