.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .footer-icons {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;

    li {
      color: #ffffff;

      .footer-icon {
        font-size: 2.5rem;
      }
    }
  }
}