.header {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 90%;
    margin: 0 auto;
    .header-tit {
        color: #fff;
        line-height: 40px;
        &:hover {
          opacity: 0.8;
        }

        .header-logo {
          text-decoration: none;
          font-size: 2.5rem;
          color: #fff;
        }
    }

    .header-right {
      font-size: 2.5rem;
      line-height: 40px;
      display: flex;
      align-items: center;

      a{
        display: block;
        text-decoration: none;
      }

      .notification-off{
        color: #fff;
      }

      .notification-on{
        position: relative;
        color: #fff;

        &::after{
          content:'';
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background: #fd79a8;
          position: absolute;
          bottom: -2px;
          right: -2px;
        }
      }

      .gravatar {
        width: 25px;
        height: 25px;
        margin-bottom: 6px;
        margin-left: 15px;
      }

      .logout-btn{
        font-size: 1.4rem;
        line-height: 25px;
        color: #000;
        background: #fff;
        height: 25px;
        border-radius: 5px;
        margin-left: 15px;
        padding: 0 5px;

        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}

.header-space {
  height: 40px;
}

.flash {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;

  &__alert{
    background: #c0392b;
    opacity: 0.8;
  }
  &__notice{
    background: #3498db;
    opacity: 0.8;
  }
}

.search-wrapper{
  height: 26px;
  margin-right: 20px;
  
  form{
    display: flex;
    align-items: center;
    border: none;
  }

  input{
    height: 24px;
    padding: 0;
    font-size: 1.8rem;
    border: none;
  }
  
  .search-btn{
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;

    i {
      display: block;
      font-size: 2rem;
    }
  }
}

.debug-box {
  height: 180px;
}